@import "./vars.css";

/* ============
   Panda Facts
   ============
 */

.fact__card {
  margin: 2rem 2rem;
  width: 18rem;
  background: #3b7a57;
}

.fact__card--img {
  display: block;
  width: 100%;
}
