/*
=============== 
Variables
===============
*/

:root {
  /* Main colors */
  --main-color-1: #2e8b57;
  --main-color-2: #006400;
  --main-color-3: #fff;
  /* Heading colors */
  --heading-color-1: #93c572;
  --heading-color-2: ;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
=============== 
Global Styles 
===============  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--heading-color-1);
}

/* ==========
   Navbar
   ==========
 */
