/*
=============== 
Global Styles 
===============  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  /* margin-top: 100px;
  height: 1500px; */
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.85rem;
}
h4 {
  font-size: 1rem;
}

h2,
h3,
h4 {
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 
=============
Global Classes
=============
*/
/* Section */
.section {
  padding: 5rem 3rem;
  scroll-margin-top: 100px;
  /* height: 1500px; */
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 800px;
}
/*  
========
Hero
========
*/

/* .scroll__container {
  padding: 18px;
  margin-top: 100px;
  height: 1500px;
} */
.hero__container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(68, 98, 90, 0.7), rgba(0, 0, 0, 0.6)),
    url("./images/hero-image.jpg") center/cover no-repeat;
}

.hero__banner {
  text-align: center;
  color: var(--main-color-5);
  padding: 0 2rem;
}

.hero__banner h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}

.hero__banner p {
  font-size: 2rem;
  letter-spacing: var(--spacing);
}

.hero__btn {
  display: inline-block;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  background: var(--main-color-2);
  color: var(--main-color-5);
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  border: 2px solid transparent;
}

.hero__btn:hover {
  background: transparent;
  color: var(--main-color-2);
  border-color: var(--main-color-5);
  border-radius: var(--radius);
  transition: var(--transition);
}

/* 
=========
About
=========
 */
.about-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.about__photo,
.habitat__photo,
.reserve__photo {
  display: block;
  width: 100%;
}

.about__img,
.about__info {
  margin-top: 2rem;
}

.about__subheading {
  font-weight: 600;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

/* 
===========
Panda Facts
===========
 */
.fact__container {
  background-color: var(--section-color);
}
.fact__card {
  margin: 2rem 2rem;
  width: 18rem;
  background: #3b7a57;
}
.fact__card--img {
  display: block;
  width: 100%;
}

.card-body {
  padding: 2rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-text {
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}
/* 
===============
HABITAT SECTION
===============
 */

.habitat__container {
  background-color: var(--main-color-5);
}

.habitat__caption {
  font-size: 20px;
  color: var(--heading-color-1);
  text-align: center;
  line-height: 1.5;
  margin: 20px 0;
}
.habitat__subheading {
  letter-spacing: var(--spacing);
  padding: 10px 0;
}
.habitat__info {
  margin-top: 2rem;
  line-height: 1.5;
}
.habitat-para {
  line-height: 1.5;
  font-size: 18px;
}

.habitat__photo {
  padding: 0 15px;
}

.habitat-two--info {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 40px 0;
  line-height: 1.5;
}

.reserve__photo {
  margin: 2rem auto;
}

/* 
==============
PREDATOR
==============
 */

.predator__container {
  background-color: var(--section-color);
}

.predators__container {
  display: flex;
  align-items: center;
}

.predator--img {
  width: 250px;
  margin: 1.5rem 0;
  border-radius: 50px 10px;
  border: 2px solid var(--main-color-4);
}

.predator--info {
  border-left: 4mm ridge rgba(44, 203, 68, 0.6);
  margin: 0 1rem;
  padding: 0 1rem;
}

.predator--title {
  color: var(--subheading-color);
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.predator--text {
  font-size: 20px;
  line-height: 1.3;
}

/* 
==============
MAJOR THREATS
==============
 */

.threats--img {
  width: 300px;
  height: 300px;
}

.threats--info__container {
  display: flex;
  align-items: flex-end;
}
