/*
=============== 
Global Styles 
===============  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  /* margin-top: 100px;
  height: 1500px; */
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.85rem;
}
h4 {
  font-size: 1rem;
}

h2,
h3,
h4 {
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 
=============
Global Classes
=============
*/
/* Section */
.section {
  padding: 5rem 3rem;
  scroll-margin-top: 100px;
  /* height: 1500px; */
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 800px;
}

/* 
=========
About
=========
 */
.about-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.about__photo,
.habitat__photo,
.reserve__photo {
  display: block;
  width: 100%;
}

.about__img,
.about__info {
  margin-top: 2rem;
}

.about__subheading {
  font-weight: 600;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

/* 
===========
Panda Facts
===========
 */
.fact__container {
  background-color: var(--section-color);
}
.fact__card {
  margin: 2rem 2rem;
  width: 18rem;
  background: #3b7a57;
}
.fact__card--img {
  display: block;
  width: 100%;
}

.card-body {
  padding: 2rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-text {
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}
/* 
===============
HABITAT SECTION
===============
 */

.habitat__container {
  background-color: var(--main-color-5);
}

.habitat__caption {
  font-size: 20px;
  color: var(--heading-color-1);
  text-align: center;
  line-height: 1.5;
  margin: 20px 0;
}
.habitat__subheading {
  letter-spacing: var(--spacing);
  padding: 10px 0;
}
.habitat__info {
  margin-top: 2rem;
  line-height: 1.5;
}
.habitat-para {
  line-height: 1.5;
  font-size: 18px;
}

.habitat__photo {
  padding: 0 15px;
}

.habitat-two--info {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 40px 0;
  line-height: 1.5;
}

.reserve__photo {
  margin: 2rem auto;
}
